<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope>
        <header class="notepad-page-header">
            <div class="notepad-page-menu-header">

                    <a class="notepad-blog-logo" href="{{ site.url }}">
                        <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo">
                    </a>



                <div class="notepad-blog-menu">
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                {% endif %} </li>
{% endfor %}
    </ul>
</div>
            </div>
            <div class="clearfix"></div>
            </div>
            <div class="notepad-site-head-content" >
                <div class="notepad-site-head-bg"></div>
            </div>
            <div class="notepad-post-title bg-check center-text">
                <h1>{{ site.title }}</h1>
                <p>by <strong>{{ site.owner.name }}</strong> </p>
            </div>
        </header>

<main class="notepad-content" role="main">

            {{ content }}
</main>
    {% include footer.html %}

{% include scripts.html %}
</body>
</html>
